Package: breakmywork
Version: 1.0-0ubuntu1
Architecture: all
Maintainer: Ravikiran Janardhana <ravikiran.j.127@gmail.com>
Installed-Size: 172
Depends: python-gtk2, python-appindicator, python-gi, gir1.2-glib-2.0, gir1.2-gtk-3.0, python (>= 2.7.1-0ubuntu2)
Section: python
Priority: extra
Homepage: https://launchpad.net/~ravikiran-j/+archive/ppa
Description: Break My Work is a simple RSI Prevention Software.
 Break My Work reminds user to take periodic breaks.
