Source: breakmywork
Section: python
Priority: extra
Maintainer: Ravikiran Janardhana <ravikiran.j.127@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               python (>= 2.7)
Standards-Version: 3.9.3
X-Python-Version: >= 2.7
Homepage: https://launchpad.net/~ravikiran-j/+archive/ppa

Package: breakmywork
Architecture: all
Depends: python-gtk2, python-appindicator, python-gi, ${misc:Depends}, ${python:Depends}
Description: Break My Work is a simple RSI Prevention Software
 Break My Work reminds the user to take short breaks while working long hours in front of a computer
